.button {
  $button: &;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  font-weight: var(--fw-semi-bold);
  transition: all 250ms ease-in-out;
  letter-spacing: 0.4px;
  width: max-content;

  // Children
  .badge {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--red-500);
    left: 10px;
    top: 8px;
    z-index: 1;
    cursor: pointer;
  }

  .loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black-1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    svg {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }

  svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: stroke 250ms ease-in-out;

    path {
      transition: stroke 250ms ease-in-out;
    }
  }

  // Modifiers
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:active,
    &:focus {
      box-shadow: none !important;
    }
  }

  &.loading {
    cursor: not-allowed;
  }

  // Sizes ("xs" | "sm" | "md" | "lg")
  &.xs {
    height: 36px;
    padding: 6px 12px;
    font-size: var(--fs-b4);
    line-height: var(--lh-b4);
    gap: 6px;
  }

  &.sm {
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
    padding: 8px 10px;
    height: 40px;
  }

  &.md {
    height: 44px;
    padding: 10px 16px;
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
  }

  &.lg {
    height: 56px;
    padding: 16px 24px;
    font-size: var(--fs-b1);
    line-height: var(--lh-b1);
  }

  &.xl {
    height: 64px;
    padding: 20px 32px;
    font-size: var(--fs-b1);
    line-height: var(--lh-b1);
  }

  // Types ("primary" | "secondary" | "tertiary" | "text")
  &.primary {
    border: 1px solid transparent;

    &.default {
      color: var(--base-1);
      background: var(--blue-500);
      border-color: var(--blue-500);

      svg path,
      svg circle {
        stroke: var(--base-1);
      }

      .loader {
        background: var(--blue-700);

        svg circle {
          stroke: var(--base-1);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--base-1);
        background: var(--blue-700);
        border-color: var(--blue-700);

        svg path,
        svg circle {
          stroke: var(--base-1);
        }
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(124, 148, 224, 0.48);
      }
    }

    &.danger {
      color: var(--base-1);
      border-color: var(--red-500);
      background: var(--red-500);

      svg path,
      svg circle {
        stroke: var(--base-1);
      }

      .loader {
        background: var(--red-500);

        svg circle {
          stroke: var(--base-1);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--base-1);
        background: var(--red-600);
        border-color: var(--red-600);

        svg path,
        svg circle {
          stroke: var(--base-1);
        }
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(224, 124, 124, 0.48);
      }
    }

    &.sky-blue {
      color: var(--base-1);
      border-color: var(--sky-blue-600);
      background: var(--sky-blue-600);

      svg path,
      svg circle {
        stroke: var(--base-1);
      }

      .loader {
        background: var(--sky-blue-600);

        svg circle {
          stroke: var(--base-1);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--base-1);
        background: var(--sky-blue-700);
        border-color: var(--sky-blue-700);

        svg path,
        svg circle {
          stroke: var(--base-1);
        }
      }
    }

    &.success {
      color: var(--base-1);
      border-color: var(--green-600);
      background: var(--green-600);

      svg path,
      svg circle {
        stroke: var(--base-1);
      }

      .loader {
        background: var(--green-600);

        svg circle {
          stroke: var(--base-1);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--base-1);
        background: var(--green-700);
        border-color: var(--green-700);

        svg path,
        svg circle {
          stroke: var(--base-1);
        }
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(124, 224, 158, 0.48);
      }
    }

    &.warning {
      color: var(--base-1);
      border-color: var(--orange-500);
      background: var(--orange-500);

      svg path,
      svg circle {
        stroke: var(--base-1);
      }

      .loader {
        background: var(--orange-500);

        svg circle {
          stroke: var(--base-1);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--base-1);
        background: var(--orange-700);
        border-color: var(--orange-700);

        svg path,
        svg circle {
          stroke: var(--base-1);
        }
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(244, 170, 42, 0.48);
      }
    }

    &.white {
      color: var(--black-13);
      background: var(--black-1);
      border-color: var(--black-1);

      svg path,
      svg circle {
        stroke: var(--black-13);
      }

      &:hover {
        background: var(--black-2);
        border-color: var(--black-2);
      }
    }

    &.green {
      color: var(--black-1);
      background: var(--green-600);
      border-color: var(--green-600);

      svg path,
      svg circle {
        stroke: var(--black-13);
      }

      &:hover {
        background: var(--green-500);
        border-color: var(--green-500);
      }
    }

    &.gray {
      color: var(--black-13);
      background: var(--black-3);
      border-color: var(--black-3);

      svg path,
      svg circle {
        stroke: var(--black-13);
      }

      .loader {
        background: var(--black-3);

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--blue-50);
        border-color: var(--blue-50);
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(124, 148, 224, 0.2);
      }
    }
  }

  &.secondary {
    border: 1px solid transparent;

    &.default {
      color: var(--black-13);
      background: var(--black-3);
      border-color: var(--black-3);

      svg path,
      svg circle {
        stroke: var(--black-13);
      }

      .loader {
        background: var(--black-3);

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--blue-50);
        border-color: var(--blue-50);
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(124, 148, 224, 0.2);
      }
    }

    &.danger {
      color: var(--black-13);
      background: var(--black-3);
      border-color: var(--black-3);

      svg path,
      svg circle {
        stroke: var(--black-3);
      }

      .loader {
        background: var(--black-3);

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--red-50);
        border-color: var(--red-50);
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(224, 124, 124, 0.2);
      }
    }

    &.success {
      color: var(--black-13);
      background: var(--black-3);
      border-color: var(--black-3);

      svg path,
      svg circle {
        stroke: var(--black-3);
      }

      .loader {
        background: var(--black-3);

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--green-50);
        border-color: var(--green-50);
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(124, 224, 158, 0.2);
      }
    }

    &.warning {
      color: var(--black-13);
      background: var(--black-3);
      border-color: var(--black-3);

      svg path,
      svg circle {
        stroke: var(--black-3);
      }

      .loader {
        background: var(--black-3);

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--orange-50);
        border-color: var(--orange-50);
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(244, 170, 42, 0.2);
      }
    }
  }

  &.tertiary {
    border: 1px solid transparent;
    background: none;

    &.default {
      color: var(--black-13);

      svg path,
      svg circle {
        stroke: var(--black-13);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--blue-50);
        border-color: var(--blue-50);

        svg path,
        svg circle {
          stroke: var(--black-13);
        }
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(124, 148, 224, 0.2);
      }
    }

    &.danger {
      color: var(--black-13);

      svg path,
      svg circle {
        stroke: var(--black-13);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--red-50);
        border-color: var(--red-50);

        svg path,
        svg circle {
          stroke: var(--black-13);
        }
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(224, 124, 124, 0.2);
      }
    }

    &.success {
      color: var(--black-13);

      svg path,
      svg circle {
        stroke: var(--black-13);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--green-50);
        border-color: var(--green-50);

        svg path,
        svg circle {
          stroke: var(--black-13);
        }
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(124, 224, 158, 0.2);
      }
    }

    &.warning {
      color: var(--black-13);

      svg path,
      svg circle {
        stroke: var(--black-13);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--orange-50);
        border-color: var(--orange-50);

        svg path,
        svg circle {
          stroke: var(--black-13);
        }
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(244, 170, 42, 0.2);
      }
    }
  }

  &.transparent {
    border: 1px solid var(--black-1);

    &.default {
      color: var(--black-13);
      background: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.2);

      svg path,
      svg circle {
        stroke: var(--black-1);
      }
    }

    &:hover {
      background: rgba(255, 255, 255, 0.3);
      border-color: rgba(255, 255, 255, 0.3);
    }
  }

  &.label {
    height: auto;
    padding: 4px 12px;
    gap: 8px;
    border: none;
    border-radius: 8px;
    box-shadow: none;
    background: transparent;
    font-weight: var(--fw-semi-bold);

    &.default {
      color: var(--blue-600);

      svg path,
      svg circle {
        stroke: var(--blue-600);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--blue-600);
        }
      }

      &:hover:not(.disabled):not(.loading):not(:active) {
        color: var(--blue-700);
        background: var(--blue-100);

        svg path,
        svg circle {
          stroke: var(--blue-700);
        }
      }

      &:active {
        color: var(--black-1);
        background: var(--blue-500);

        svg path {
          stroke: var(--black-1);
        }
      }
    }

    &.danger {
      color: var(--black-13);

      svg path,
      svg circle {
        stroke: var(--black-13);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--red-50);
        border-color: var(--red-50);

        svg path,
        svg circle {
          stroke: var(--black-13);
        }
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(224, 124, 124, 0.2);
      }
    }

    &.success {
      color: var(--black-13);

      svg path,
      svg circle {
        stroke: var(--black-13);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--green-50);
        border-color: var(--green-50);

        svg path,
        svg circle {
          stroke: var(--black-13);
        }
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(124, 224, 158, 0.2);
      }
    }

    &.warning {
      color: var(--black-13);

      svg path,
      svg circle {
        stroke: var(--black-13);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--black-13);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--black-13);
        background: var(--orange-50);
        border-color: var(--orange-50);

        svg path,
        svg circle {
          stroke: var(--black-13);
        }
      }

      &:active {
        box-shadow: 0 0 0 6px rgba(244, 170, 42, 0.2);
      }
    }
  }

  &.text {
    height: auto;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    font-weight: var(--fw-semi-bold);
    text-decoration: underline;

    &.default {
      color: var(--blue-600);

      svg path,
      svg circle {
        stroke: var(--blue-600);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--blue-600);
        }
      }

      &:hover:not(.disabled):not(.loading):not(:active) {
        color: var(--blue-700);

        svg path,
        svg circle {
          stroke: var(--blue-700);
        }
      }

      &:active {
        color: var(--blue-700);
      }
    }

    &.danger {
      color: var(--red-600);

      svg path,
      svg circle {
        stroke: var(--red-600);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--red-600);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--red-600);

        svg path,
        svg circle {
          stroke: var(--red-600);
        }
      }

      &:active {
        color: var(--red-600);
      }
    }

    &.success {
      color: var(--green-600);

      svg path,
      svg circle {
        stroke: var(--green-600);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--green-600);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--green-600);

        svg path,
        svg circle {
          stroke: var(--green-600);
        }
      }

      &:active {
        color: var(--green-600);
      }
    }

    &.warning {
      color: var(--orange-500);

      svg path,
      svg circle {
        stroke: var(--orange-500);
      }

      .loader {
        background: none;

        svg circle {
          stroke: var(--orange-500);
        }
      }

      &:hover:not(.disabled):not(.loading) {
        color: var(--orange-500);
        background: var(--orange-50);
        border-color: var(--orange-50);

        svg path,
        svg circle {
          stroke: var(--orange-500);
        }
      }

      &:active {
        box-shadow: var(--orange-500);
      }
    }
  }
}
