.layout {
  display: flex;
  height: 100vh;
  background: var(--base-1);
  padding: 16px;
  gap: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: var(--blue-50);
  border-radius: 32px;
  overflow: hidden;
}
