.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 12px;
  transition: all 250ms ease-in-out;
  flex-shrink: 0;
  position: relative;

  .badge {
    width: 8px;
    height: 8px;
    background-color: var(--red-600);
    top: -2px;
    position: absolute;
    right: -2px;
    border: 3px solid white;
    box-sizing: content-box;
    border-radius: 50px;
  }
  svg {
    width: 24px;
    height: 24px;
    object-fit: contain;

    path {
      transition: all 250ms ease-in-out;
    }
  }

  &.primary {
    svg path,
    svg circle {
      stroke: var(--base-1);
    }

    &.blue {
      background: var(--blue-500);
    }

    &.sky {
      background: var(--sky-blue-500);
    }

    &.green {
      background: var(--green-600);
    }

    &.pink {
      background: var(--pink-500);
    }

    &.orange {
      background: var(--orange-500);
    }

    &.red {
      background: var(--red-500);
    }

    &.gray {
      background: var(--base-4);
    }

    &.darkBlue {
      background: var(--base-10);
    }

    &.white {
      background: var(--base-1);
    }
  }

  &.secondary {
    &.white {
      background: var(--base-1);

      svg path,
      svg circle {
        stroke: var(--base-13);
      }
    }

    &.blue {
      background: var(--blue-50);

      svg path,
      svg circle {
        stroke: var(--blue-500);
      }
    }

    &.sky {
      background: var(--sky-blue-100);

      svg path,
      svg circle {
        stroke: var(--sky-blue-500);
      }
    }

    &.green {
      background: var(--green-100);

      svg path,
      svg circle {
        stroke: var(--green-600);
      }
    }

    &.pink {
      background: var(--pink-100);

      svg path,
      svg circle {
        stroke: var(--pink-600);
      }
    }

    &.orange {
      background: var(--orange-600);

      svg path,
      svg circle {
        stroke: var(--orange-100);
      }
    }

    &.red {
      background: var(--red-600);

      svg path,
      svg circle {
        stroke: var(--red-100);
      }
    }

    &.gray {
      background: var(--base-4);

      svg path,
      svg circle {
        fill: var(--base-13);
      }
    }
  }

  &.tertiary {
    background: var(--black-1);

    &.blue {
      svg path,
      svg circle {
        stroke: var(--blue-500);
      }
    }

    &.sky {
      svg path,
      svg circle {
        stroke: var(--sky-blue-500);
      }
    }

    &.green {
      svg path,
      svg circle {
        stroke: var(--green-600);
      }
    }

    &.pink {
      svg path,
      svg circle {
        stroke: var(--pink-100);
      }
    }

    &.orange {
      svg path,
      svg circle {
        stroke: var(--orange-100);
      }
    }

    &.red {
      svg path,
      svg circle {
        stroke: var(--red-100);
      }
    }

    &.gray {
      svg path,
      svg circle {
        fill: var(--base-13);
      }
    }
  }
}
