.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 24px;
  border-bottom: 1px solid var(--base-5);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__title {
    font-size: var(--fs-h5);
    font-weight: var(--fw-bold);
    line-height: var(--lh-h5);
    color: var(--base-13);
  }

  &__desc {
    color: var(--base-8);
    font-size: var(--fs-sub-title-1);
    line-height: var(--lh-sub-title-1);
  }
}
